body{
  
  text-align: center;
  
  background-image: url(1.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.navbar {
  display: flex;
  background-color: #333;
  width: 27%;
  float: center;
}

.navbar a {
  
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lobster', cursive;
  
}

.navbar a:hover {
  background-color: green;
  color: black;
}
#A {
  color: orange;
}

#A:hover {
   background-color: pink;
}

 .pgap{
 color: fff;

}
 .pgap p:hover{
   background-color: pink;
}


